<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>增加 组</title>
</head>
<body class=" app-auth model-group change-form">
<div id="container">
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/authority/myadmin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/authority/change_pwd/">修改密码</a> /

                <a href="/authority/logoutview/">注销</a>
        </div>
    </div>
    <div id="content" class="colM">
        <h1>增加 组</h1>
        <div id="content-main">
        <form enctype="multipart/form-data" action="/authority/add_group/" method="post" id="group_form" novalidate>
        <div>
            <fieldset class="module aligned ">
                <div class="form-row field-name">
                    <div>
                        <label class="required" for="id_name">名称:</label>
                        <input class="vTextField" id="id_name" maxlength="80" name="name" type="text" value="{{ group.name }}" />
                    </div>
                </div>
                <div class="form-row field-permissions">

                        <label for="id_permissions">权限:</label>
                <div class="form-row field-user_permissions">
                {% load filters %}
                    {% for permission in permissions %}
                        <div class="checkbox-row">
                            <input id="id_is_superuser" value="{{ permission.id}}" name="permission{{ permission.id }}" type="checkbox" /><label class="vCheckboxLabel" for="id_is_superuser">{{ permission.name }}.{{ permission.codename }}</label>
                        </div>
                    {% endfor %}
                </div>
                    <p class="help">按住 ”Control“，或者Mac上的 “Command”，可以选择多个。</p>
                </div>
            </fieldset>
        <div class="submit-row">
        <input type="submit" value="保存" class="default" name="_save" />
        </div>
        </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>





