
<!DOCTYPE html>

<html lang="zh-Hans" >

<head>
<title>增加 用户 | Django 站点管理员</title>
</head>

<body class=" app-auth model-user change-form">

    <div id="container">

        <div id="header">
            <div id="branding">
            <h1 id="site-name"><a href="/admin/">Django 管理</a></h1>
            </div>
            <div id="user-tools">
                    欢迎，
                    <strong>{{ user.username }}</strong>
                        <a href="/">查看站点</a> /
                    <a href="/admin/password_change/">修改密码</a> /

                    <a href="/logoutview/">注销</a>
            </div>
        </div>

    <div id="content" class="colM">
        <h1>增加 用户</h1>

        <div id="content-main">
        <form action="/authority/add_user/" method="post" id="user_form">
            <p>首先，输入一个用户名和密码。然后，你就可以编辑更多的用户选项。</p>
            <div>
                <fieldset class="module aligned wide">
                    <div class="form-row field-username">
                        <div>
                            <label class="required" for="id_username">用户名:</label>
                            <input class="vTextField" id="id_username" maxlength="30" name="username" type="text" />
                            <p class="help">必填。不多于30个字符。只能用字母、数字和字符 @/./+/-/_ 。</p>
                        </div>
                    </div>
                    <div class="form-row field-password1">
                        <div>
                            <label class="required" for="id_password1">密码:</label>
                            <input id="id_password1" name="password1" type="password" />
                        </div>
                    </div>
                    <div class="form-row field-password2">
                        <div>
                            <label class="required" for="id_password2">密码确认:</label>
                            <input id="id_password2" name="password2" type="password" />
                            <p class="help">为了校验，输入与上面相同的密码。</p>
                        </div>
                    </div>
                    <div class="form-row field-email">
                        <div>
                            <label for="id_email">电子邮件地址:</label>
                            <input class="vTextField" id="id_email" maxlength="254" name="email" type="email" />
                        </div>
                    </div>
                </fieldset>
            <div class="submit-row">
            <input type="submit" value="保存" class="default" name="_save" />

            </div>
            </div>
        </form>
        </div>

        </div>
    </div>
</body>
</html>
