<!DOCTYPE html>

<html lang="zh-Hans" >
<head>
<title>修改 用户</title>
</head>

<body class=" app-auth model-user change-form">

<div id="container">

    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/admin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/admin/password_change/">修改密码</a> /

                <a href="/logoutview/">注销</a>
        </div>
    </div>

    <div id="content" class="colM">
        <h1>修改 用户</h1>
        <div id="content-main">

        <form action="/authority/add_user_detail/" method="post" id="user_form">
        <div>
        <fieldset class="module aligned ">
                <div class="form-row field-username">
                        <div>
                                <label class="required" for="id_username">用户名:</label>
                                    <input class="vTextField" id="id_username" maxlength="30" name="username" type="text" value="{{ user1.username }}" />
                                <p class="help">必填。不多于30个字符。只能用字母、数字和字符 @/./+/-/_ 。</p>
                        </div>
                </div>
        </fieldset>

        <fieldset class="module aligned ">
            <h2>个人信息</h2>
                <div class="form-row field-first_name">
                        <div>
                                <label for="id_first_name">名字:</label>
                                    <input class="vTextField" id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ user1.first_name }}" />
                        </div>
                </div>
                <div class="form-row field-last_name">
                        <div>
                                <label for="id_last_name">姓氏:</label>
                                    <input class="vTextField" id="id_last_name" maxlength="30" name="last_name" type="text" value="{{ user1.last_name }}" />
                        </div>
                </div>

        </fieldset>

        <fieldset class="module aligned ">
            <h2>权限</h2>
                <div class="form-row field-is_active">
                        <div class="checkbox-row">
                                <input checked="checked" id="id_is_active" name="is_active" type="checkbox" /><label class="vCheckboxLabel" for="id_is_active">有效</label>
                                <p class="help">指明用户是否被认为活跃的。以反选代替删除帐号。</p>
                        </div>
                </div>
                <div class="form-row field-is_staff">
                        <div class="checkbox-row">
                                <input id="id_is_staff" name="is_staff" type="checkbox" {% if user1.is_staff %} checked="checked" {% endif %} /><label class="vCheckboxLabel" for="id_is_staff">职员状态</label>
                                <p class="help">指明用户是否可以登录到这个管理站点。</p>
                        </div>
                </div>
                <div class="form-row field-is_superuser">
                {% if user.is_superuser %}
                        <div class="checkbox-row">
                                <input id="id_is_superuser" name="is_superuser" type="checkbox" {% if user1.is_superuser %} checked="checked" {% endif %} /><label class="vCheckboxLabel" for="id_is_superuser">超级用户状态</label>
                                <p class="help">指明该用户缺省拥有所有权限。</p>
                        </div>
                {% endif %}
                </div>

                <div class="form-row field-is_superuser">
                {% load filters %}
                    {% for group in groups %}
                        <div class="checkbox-row">
                            <input id="id_is_superuser" value="{{ group.id}}" name="group{{ group.id }}" type="checkbox" {% if user1.is_superuser %} checked="checked" {% elif group.id|mod:list_group %} checked="checked" {% endif %} /><label class="vCheckboxLabel" for="id_is_superuser">{{ group.name }}</label>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-row field-user_permissions">
                {% load filters %}
                    {% for permission in permissions %}
                        <div class="checkbox-row">
                            <input id="id_is_superuser" value="{{ permission.id}}" name="permission{{ permission.id }}" type="checkbox" {% if user1.is_superuser %} checked="checked" {% elif permission.id|mod:list1 %} checked="checked" {% endif %} /><label class="vCheckboxLabel" for="id_is_superuser">{{ permission.name }}.{{ permission.codename }}</label>
                        </div>
                    {% endfor %}
                </div>

        </fieldset>

        <div class="submit-row">
        <input type="submit" value="保存" class="default" name="_save" />
        </div>
        </div>
        </form>
        </div>



    </div>


    <div id="footer"></div>
</div>
</body>
</html>















