<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>密码修改</title>
</head>


<body class="">

<div id="container">
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/admin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/admin/password_change/">修改密码</a> /

                <a href="/logoutview/">注销</a>
        </div>
    </div>

    <div class="breadcrumbs">
    <a href="/admin/">首页</a>
    &rsaquo; 密码修改
    </div>

    <div id="content" class="colM">
        <h1>密码修改</h1>
        <div id="content-main">
        <form action="" method="post">
        <div>
        <p>请输入你的旧密码，为了安全起见，接着要输入两遍新密码，以便我们校验你输入的是否正确。</p>

        <fieldset class="module aligned wide">
            <div class="form-row">
                <label class="required" for="id_old_password">旧密码:</label> <input id="id_old_password" name="old_password" type="password" />
            </div>

            <div class="form-row">
                <label class="required" for="id_new_password1">新密码:</label> <input id="id_new_password1" name="new_password1" type="password" />
            </div>

            <div class="form-row">
                <label class="required" for="id_new_password2">新密码确认:</label> <input id="id_new_password2" name="new_password2" type="password" />
            </div>
        </fieldset>

        <div class="submit-row">
            <input type="submit" value="修改我的密码" class="default" />
        </div>

        </div>
        </form>
        </div>

    </div>

</div>

</body>
</html>
