<!DOCTYPE html>
<html lang="zh-hans" >
<head>
<title>选择 组 来修改</title>
</head>
<body class=" app-auth model-group change-list">
<div id="container">
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/authority/myadmin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/authority/change_pwd/">修改密码</a> /

                <a href="/authority/logoutview/">注销</a>
        </div>
    </div>
    <div id="content" class="flex">
        <h1>选择 组 来修改</h1>
        <div id="content-main">
            <ul class="object-tools">
                <li>
                  <a href="/authority/add_group/" class="addlink">
                    增加 组
                  </a>
                </li>
            </ul>
        <div class="module" id="changelist">
        <div id="toolbar">
            <form id="changelist-search" action="" method="get">
                <div><!-- DIV needed for valid HTML -->
                <label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search" /></label>
                <input type="text" size="40" name="q" value="" id="searchbar" />
                <input type="submit" value="搜索" />
                </div>
            </form>
        </div>
    <form id="changelist-form" action="/authority/delete_group/" method="post" novalidate>
        <div class="actions">
            <label>删除所选的 组
            </label>
            <input class="select-across" name="select_across" type="hidden" value="0" />
            <button type="submit" class="button" title="运行选中的动作" name="index" value="0">删除</button>
        </div>
        <div class="results">
        <table id="result_list">
        <thead>
            <tr>
            <th scope="col"  class="action-checkbox-column">
               <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="column-__str__">
               <div class="text"><span>组</span></div>
               <div class="clear"></div>
            </th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr class="row1">
                <td class="action-checkbox">
                    <input class="action-select" name="group{{ group.id }}" type="checkbox" value="{{ group.id }}" />
                </td>
                <th class="field-__str__">
                    <a href="/authority/groups_detail/{{ group.id }}">{{ group.name }}</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        <p class="paginator">
        {{ count }}
        </p>
    </form>
        </div>
      </div>
    </div>
</div>
</body>
</html>




