<!DOCTYPE html>
<html lang="zh-Hans" >
<head>
<title>站点管理</title>
</head>
<body class=" dashboard">
<div id="container">
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/authority/myadmin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/authority/change_pwd/">修改密码</a> /
                <a href="/authority/logoutview/">注销</a>
        </div>
    </div>
    <div id="content" class="colMS">
        <h1>站点管理</h1>
        <div id="content-main">
        <div class="app-message module">
        <table>
        <caption>
            <a href="#" class="section" title="在应用程序 Message 中的模型">Message</a>
        </caption>
            <tr class="model-ordergoods">
            {% load filters %}
            {% if user.is_superuser %}
                <th scope="row"><a href="/authority/show_devices/{{ device.id }}/">{{ device }}</a></th>
                <td><a href="/admin/message/ordergoods/add/" class="addlink">增加</a></td>
                <td><a href="/" class="changidelink">修改</a></td>
                <td><a href="/" class="changidelink">删除</a></td>
            {% elif not user.is_superuser%}
                {% if list1|primary %}
                <th scope="row"><a href="/authority/show_devices/{{ device.id }}/">{{ device }}</a></th>
                {% endif %}
                {% if 19 in list1 %}
                <td><a href="/admin/message/ordergoods/add/" class="addlink">增加</a></td>
                {% endif %}
                {% if 20 in list1 %}
                <td><a href="/" class="changidelink">修改</a></td>
                {% endif %}
                {% if 21 in list1 %}
                <td><a href="/" class="changidelink">删除</a></td>
                {% endif %}
            {% endif %}
            </tr>
            <tr class="model-ordergoods">
            {% load filters %}
            {% if user.is_superuser %}
                <th scope="row"><a href="/authority/show_devices/{{ team.id }}/">{{ team }}</a></th>
                <td><a href="/admin/message/ordergoods/add/" class="addlink">增加</a></td>
                <td><a href="/" class="changidelink">修改</a></td>
                <td><a href="/" class="changidelink">删除</a></td>
            {% elif not user.is_superuser%}
                {% if list2|primary %}
                <th scope="row"><a href="/authority/show_devices/{{ team.id }}/">{{ team }}</a></th>
                {% endif %}
                {% if 28 in list2 %}
                <td><a href="/admin/message/ordergoods/add/" class="addlink">增加</a></td>
                {% endif %}
                {% if 29 in list2 %}
                <td><a href="/" class="changidelink">修改</a></td>
                {% endif %}
                {% if 30 in list2 %}
                <td><a href="/" class="changidelink">删除</a></td>
                {% endif %}
            {% endif %}
            </tr>
        </table>
        </div>
        <br>
        <br>
        <br>
        <div class="app-auth module">
        <table>
            <tr class="model-user">
                <th scope="row">用户</th>
                {% if user.is_superuser %}
                <th scope="row"><a href="/authority/user_list/">用户列表</a></th>
                {% endif %}
                <td><a href="/authority/add_user/" class="addlink">增加</a></td>
                {% if user.is_superuser %}
                <td><a href="/authority/user_list/" class="changelink">修改</a></td>
                {% endif %}
            </tr>
            <tr class="model-group">
                {% if user.is_superuser %}
                <th scope="row">组</th>
                <th scope="row"><a href="/authority/group_list/">组列表</a></th>
                <td><a href="/authority/add_group/" class="addlink">增加</a></td>
                <td><a href="/authority/group_list/" class="changelink">修改</a></td>
                {% endif %}
            </tr>
        </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>







