<!DOCTYPE html>
<html lang="zh-Hans" >
<head>
<title>选择 用户</title>
</head>
<body class=" app-auth model-user change-list">
    <div id="header">
        <div id="branding">
        <h1 id="site-name"><a href="/admin/">Django 管理</a></h1>
        </div>
        <div id="user-tools">
                欢迎，
                <strong>{{ user.username }}</strong>
                    <a href="/">查看站点</a> /
                <a href="/admin/password_change/">修改密码</a> /
                <a href="/logoutview/">注销</a>
        </div>
    </div>
    <div id="content" class="flex">
        <h1>选择 用户 来修改</h1>
        <div id="content-main">
        <ul class="object-tools">
            <li>
              <a href="/authority/add_user/" class="addlink">
                增加 用户
              </a>
            </li>
        </ul>
    <div class="module filtered" id="changelist">
    <div id="toolbar">
        <form id="changelist-search" action="" method="get">
        <div>
        <label for="searchbar"><img src="/static/admin/img/icon_searchbox.png" alt="Search" /></label>
        <input type="text" size="40" name="q" value="" id="searchbar" />
        <input type="submit" value="搜索" />
        </div>
        </form>
    </div>
    <form id="changelist-form" action="/authority/delete_user/" method="post" novalidate>
    <div class="actions">
        <label>删除所选的 用户</label>
        <input class="select-across" name="select_across" type="hidden" value="0" />
            <button type="submit" class="button" title="运行选中的动作" name="index" value="0">执行</button>
    </div>
    <div class="results">
    <table id="result_list">
        <thead>
            <tr>
            <th scope="col"  class="action-checkbox-column">
               <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="sortable column-username sorted ascending">
                   <div class="sortoptions">
                     <a class="sortremove" href="?o=" title="删除排序"></a>
                     <a href="?o=-1" class="toggle ascending" title="正逆序切换"></a>
                   </div>
               <div class="text"><a href="?o=-1">用户名</a></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="sortable column-email">
               <div class="text"><a href="?o=2.1">电子邮件地址</a></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="sortable column-first_name">
               <div class="text"><a href="?o=3.1">名字</a></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="sortable column-last_name">
               <div class="text"><a href="?o=4.1">姓氏</a></div>
               <div class="clear"></div>
            </th>
            <th scope="col"  class="sortable column-is_staff">
               <div class="text"><a href="?o=5.1">职员状态</a></div>
               <div class="clear"></div>
            </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr class="row1">
            <td class="action-checkbox">
                <input class="action-select" name="user{{ user.id }}" type="checkbox" value="{{ user.id }}" />
            </td>
            <th class="field-username">
                <a href="/authority/add_user_details/{{ user.id }}/">{{ user.username }}</a>
            </th>
            <td class="field-email">{{ user.email }}</td>
            <td class="field-first_name">{{ user.last_name }}</td>
            <td class="field-last_name">{{ user.first_name }}</td>
            <td class="field-is_staff"><img src="/static/admin/img/icon-no.gif" alt="{{ user.is_staff }}" /></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </form>
    </div>
  </div>
    </div>
</body>
</html>