<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GL.iNet Cloud</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>

<style>
    .active {
        color: #000;
    }
    .active:hover,
    .active:focus,
    .active:active{
        color: #000;
        text-decoration: none;
    }


</style>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

  <div class="content-wrapper">

    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Device</a>
        </li>
        <li class="breadcrumb-item active">My Device</li>
      </ol>

      <div class="card mb-3" >
        <div class="card-header" >
            <input type="submit" name="" value="查询" id="buttan" class="find-text">
            <input type="submit" name="" value="删除" id="buttan">
            <input type="submit" name="" value="升级" id="buttan">
        </div>

      <form action="/" method="post" class="searchforall">
        <div class="card-header found" >

                <tr>
                  <th><span id="mac-th">
                      <label>mac</label>
                      <input type="text" name="Mac" id="Mac" value="{{ mac }}">
                  </span></th>

                  <th><span id="types-th">
                      <label>型号</label>
                      <input type="text" name="type" id="type" value="{{ type }}">
                  </span></th>

                  <th><span id="version-th">
                      <label>version</label>
                      <input type="text" name="version" id="version" value="{{ version }}">
                  </span></th>

                  <th><label>状态在线</label>
                      <select name="Status">
                      <option value="全部">全部</option>
                      <option value="在线">在线</option>
                      <option value="离线">离线</option>
                  </select>
                  </th>
                  <th><input type="submit" name="" value="提交" id="buttan"></th>

                </tr>

        </div>


        <div class="card-body" style="font-size:13px;">
          <div class="table-responsive">
            <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->
                <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th class="dataTables_empty"><input type="checkbox" class="all-control" id="mount-control">全选</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th>Mac</th>
                  <th>型号</th>
				          <th>Version</th>
                  <th>Firmware Url</th>
                  <th>Data url</th>
                  <th>Manager</th>
                </tr>
              </thead>
              <tbody>

                <tr>

                  <td class="dataTables_empty" width="10">
                  <input type="checkbox" class="form-control all-control" >
                  </td>
                  <td>
                      <i class="fa fa-circle text-success fa-fw"></i>
                      {{ device.status }}
                  </td>
                  <td>{{ device.name }}</td>
                  <td>{{ device.mac }}</td>
                  <td>{{ device.type }}</td>
                  <td>{{ device.version }}</td>
                  <td>{{ device.Firmware }}</td>
                  <td>{{ device.note}}</td>
                </tr>

              </tbody>


            </table>
          </div>
        </div>


        <div class="card-tail" >
            <tr>

              <th>
                  <label>每页</label>
                  <select name="amount">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>

                  </select>
                  <label>条</label>
              </th>

              <th>
              <span class="step-links">
                  {% if devices.has_previous %}
                      <a href="?page={{ devices.previous_page_number }}">上一页</a>
                  {% endif %}

                  {% for pindex in pages %}
				     <a href="?page={{ pindex }}" {% if pindex == devices.number %} class="active" {% endif %}>{{ pindex }}</a>
				  {% endfor %}

                  <span class="current">
                      Page {{ devices.number }} of {{ devices.paginator.num_pages }}.
                  </span>

                  {% if devices.has_next %}
                      <a href="?page={{ devices.next_page_number }}">下一页</a>
                  {% endif %}
              </span>
              </th>



              <th>
                  <span id="version-th">
                      <label>Go To</label>
                      <input type="text" name="page" id="page" value="{{ page }}">
                  </span>
              </th>

            </tr>
        </div>
      </form>

      <form action="/" method="post" class="searchforall">
          <a href="http://47.106.196.54:8888/device/senddata?mac=e4956e43d02d&data={'api':'/router/timezone/get'}" class="changidelink">修改</a>
      </form>


        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>

  </div>

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © GL.iNet 2018</small>
        </div>
      </div>
    </footer>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/static/js/sb-admin-datatables.min.js"></script>
    <script src="/static/js/sb-admin-charts.js"></script>
  </div>

  <script>
    $("#Mac").keyup(function () {
        $("#mac-th").find('#numUl').remove();
      var n = $("#Mac").val();
      if(n !== '') {
          $.ajax({
            url:'/get_tips',
            data:{n:n},
            type:'post',
            dataType:'json',
            success:function (data) {
                var html = "";
                var text = "";
                content = data['content'];
                console.log(content);
                for (var i in content){
                    text += "<li class='mac-li'>"+i+"</li>"
                }
             html = "<ul id='numUl'>" + text + "</ul>";
             $("#mac-th").append(html)
            }
        });
      }
    });
    $("#mac-th").on("click", ".mac-li", function () {
        var val = $(this).text();
        window.location.href = "/get_device?n=" + val;
        $("#mac-th").find('#numUl').remove()
    });
    $(".active").click(function () {
        return false
    });
    $(".found").slideUp();
    $(".find-text").click(function () {
        $(".found").toggle()
    });
    $("#mount-control").change(function () {
        var checked = document.getElementById('mount-control').checked;
        $('.all-control').attr('checked',checked)

    })

</script>


</body>

</html>

